<div class="events-content">
  <ol>
    <li class="selected" data-date="16/01/2016">
        <%= link_to image_tag("logo.svg", :border => 0, :class => "strata_sm_logo"), root_path %>
        <div style="width:60%;margin-left:20%;" class="row">
            <p>
                Strata Retail & Technology Services Private Limited, a NSRCEL-IIM Bangalore Incubated company, was started by a team of Retail & Technology Professionals in 2009. The group has diversified interests in Books, Technology, Music and Tourism. JustBooksCLC, a retail community library chain, is the flagship brand of Strata and has 60+ branches spread across India. Our next offering is FirstMiler.
            </p>
        </div>
        <div>
          <%= link_to image_tag("jb.svg", :border => 0, :class => "sm_logo"), root_path %>
          <%= link_to image_tag("ed.svg", :border => 0, :class => "sm_logo"), root_path %>
          <%= link_to image_tag("bb.svg", :border => 0, :class => "sm_logo"), root_path %>
          <%= link_to image_tag("logo_r3.png", :border => 0, :class => "sm_logo"), root_path %>
          <%= link_to image_tag("fm.svg", :class => "sm_logo", :alt => "Firstmyle"), "http://www.firstmyle.com", :target => "_blank" %>
        </div>

    </li>

    <li data-date="28/02/2015">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>

    <li data-date="20/04/2014">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>

    <li data-date="20/05/2013">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>

    <li data-date="09/07/2012">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>

    <li data-date="09/07/2011">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>

    <li data-date="09/07/2010">
        <div class="row">
            <div class="col-sm-4">
                <%= link_to image_tag("dummy.png", :border => 0, :width => "100%")%>
            </div>
            <div class="col-sm-6">
                <p style="font-size:21px;"><b>Neighbourhood in your palm.</b></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </div>
        </div>
    </li>
  </ol>
</div> <!-- .events-content -->