<div class="row">
  <div class = "col landscape">
    <!-- <img src="image/lady.png" class="img-responsive" alt="" width = "40%"> -->
    <%= link_to image_tag("orange-spoon.png", :border => 0, width: '100%'), "#" %>
  </div>
</div>
<br />

<div class="row">
  <div class="col-sm-5">
    <div class="row">
      <p style="font-size:21px;"><b>Neighbourhood in your palm.</p></b>
      <p>
        Yes, that is what Firstmyle sets out to deliver for you, using interesting stories from people around you about places near you.</p>
        <p>Get to know about those local things that matter to you - announcements made by your civic administrators, a weekend event closer home, the new restaurant that no one has told you about yet, an important activity that is being planned by your community and lots more.</p>
        <p><b>News, Events, Businesses, People</b> - the small world around you just got smaller and now fits into your palm.</p>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <a href="https://play.google.com/store/apps/details?id=com.strata.firstmyle.consumer&hl=en" class="playstr"></a>
      </div>
    </div>

    <div class="row">
      Give Your Email to Subscribe
    </div>

    <div class="row">
      <div class="send-app-link row">
        <%= form_tag send_sms_home_index_path, :id => 'send_sms_form' do -%>
          <div class="col-md-8 col-sm-6 col-xs-12">
              <%#= text_field_tag 'phone_no', '', maxlength: 10, class: "invalid  num-elem phone-number" %>
              <%= text_field_tag 'email', '', class: "invalid  num-elem phone-number" %>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 ">
              <%= submit_tag "Submit", class: "btn secondary submit-number", style: "text-align:center;" %>
          </div>

        <% end %>
      </div>
    </div>
    <div class="row">
      You can reach us at - <b>info@firstmyle.com</b>
    </div>
  </div>

  <div class="col-sm-2"></div>
    <div class="col-sm-5" id="slideshow1">
      <%#= link_to image_tag("mobile1.png", :border => 0, :width => "100%")%>
      <%#= link_to image_tag("mobile2.png", :border => 0, :width => "100%")%>
      <%= link_to image_tag("mobile3.png", :border => 0, :width => "100%")%>
    </div>
    <!-- <div class="fadein">
      <img id="f3" src="/images/mobile1.png">
      <img id="f2" src="/images/mobile2.png">
      <img id="f1" src="/images/mobile3.png">
    </div> -->
</div>





